.RichEditor_root {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 15px;
}

.RichEditor_editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  height: 20rem;
  padding: 10px;
  overflow: auto;
}

.RichEditor_editor div {
  height: 100%;
}

.RichEditor_editor .public-DraftEditorPlaceholder-root,
.RichEditor_editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor_hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor_editor .RichEditor_blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor_editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}
