.input::placeholder {
  color: #979899;
  font-style: normal;
  font-weight: 400;
}

.editableTextInputWrapper .editableTextInputWrapper__input {
  opacity: 0;
}

.editableTextInputWrapper:hover .editableTextInputWrapper__input {
  opacity: 1;
}
