html, body {
  height: 100%;
}

.min-h-2 {
  min-height: 2rem;
}

.render-provider {
  height: 100%;
}

.editor-provider {
  height: 100%;
}

.editor-provider .preview-button {
  display: none;
}

.shadow-editor {
  -webkit-box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.25);
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-group.field.field-object > label {
  border-top: 2px solid #F0F2F4;
  color: #C3C4C5;
  font-weight: 700;
  margin-top: 10px;
  padding: 20px 0px 5px;
  text-transform: uppercase;
}

.form-group.field.field-object:first-child > label {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.checkbox span {
  padding-left: 5px;
  font-size: 0.875rem;
}

.editor-form {
  padding: 15px 24px 0px;
}

.field-description {
  font-size: 12px;
  color: #979899;
  margin-top: 0px;
  font-style: italic;
}

.editor-form > label {
  padding: 0px !important;
  margin: 0px !important;
}

.form-control {
  border: 2px solid #E1E3E5;
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  background-color: #FFFFFF;
}

.draggable {
  cursor: move;
}

.h-3em {
  height: 48px;
}

.build-status {
  top: 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: #fff !important;
  margin: 11px !important;
  padding: 0 !important;
}

.build-status.reload {
  margin-top: 0 !important;
  width: 100% !important;
  height: 46px !important;
}

.build-status.fail {
  margin-top: 0 !important;
  width: 100% !important;
  height: 46px !important;
}

.radio-inline > span > span {
  padding-left: 5px;
  padding-right: 15px;
}

.field-range-wrapper > input {
  width: 80%;
}

.field-range-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-range-wrapper > span {
  font-size: 16px;
  font-weight: 700;
  padding-right: 3px;
  color: #368df7;
}

.panel-danger {
  position: fixed;
  width: 100%;
}

@media only screen and (max-width: 40em) {
  .size-editor {
    bottom: 0;
    height: 100%;
  }
}

@media only screen and (min-width: 40em) {
  .field-range-wrapper > input {
    width: 85%;
  }
  .form-schema {
    min-height: 300px;
    max-height: 60vh;
  }
  .size-editor {
    max-width: 450px;
  }
  .shadow-editor-desktop {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(86,88,107,0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(86,88,107,0.5);
    box-shadow: 0px 4px 10px 0px rgba(86,88,107,0.5);
  }
}

/* Non small */
@media screen and (min-width: 30em) {
  .h-3em-ns {
    height: 3em;
  }
  .calc--height-ns {
    height: calc(100vh - 3em);
  }
  .top-3em-ns {
    top: 3em;
  }
  .calc--width-ns {
    width: calc(100% - 18em);
  }
  .calc--minified-width-ns {
    width: calc(100% - 3em);
  }
  .w-3em-ns {
    width: 3em;
  }
  .w-18em-ns {
    width: 18em;
  }

  .admin-sidebar {
    border-right: 2px solid #f2f4f5;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .admin-sidebar::-webkit-scrollbar,
  .admin-sidebar::-webkit-scrollbar-track {
    width: 2px;
    background: #f2f4f5;
  }

  .admin-sidebar::-webkit-scrollbar-thumb {
    width: 2px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}

.mobile-preview {
  width: 360px;
}


.stroke-blue {
  stroke: #368DF7
}

.stroke-mid-gray {
  stroke: #727273
}

.fill-blue {
  fill: #368DF7
}

.fill-mid-gray {
  fill: #727273
}