.h-3em {
  height: 48px;
}

.calc--height-relative {
  height: calc(100% - 3em);
}

.calc--height-relative--dev {
  height: calc(100% - 8.5em);
}

.mobile-preview {
  width: 360px;
  height: 640px;
  max-height: 100%;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tablet-preview {
  width: 768px;
  height: 1024px;
  max-height: 100%;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
