.transition-editor-enter {
  transform: translateX(18em);
}

.transition-editor-enter-active {
  transition: transform 250ms ease-in;
  transform: translateX(0);
}

.transition-editor-enter-done {
  transform: translateX(0);
}

.transition-editor-exit {
  transform: translateX(0);
}

.transition-editor-exit-active {
  transition: transform 250ms ease-in;
  transform: translateX(18em);
}

.transition-editor-exit-done {
  transform: translateX(18em);
}

.transition-selector-enter {
  transform: translateX(0);
}

.transition-selector-enter-active {
  transition: transform 250ms ease-in;
  transform: translateX(-18em);
}

.transition-selector-enter-done {
  transform: translateX(-18em);
}

.transition-selector-exit {
  transform: translateX(-18em);
}

.transition-selector-exit-active {
  transition: transform 250ms ease-in;
  transform: translateX(0);
}

.transition-selector-exit-done {
  transform: translateX(0);
}

/* Non small */
@media screen and (min-width: 30em) {
  .admin-sidebar {
    border-left: 2px solid #f2f4f5;
  }

  .admin-sidebar::-webkit-scrollbar,
  .admin-sidebar::-webkit-scrollbar-track {
    width: 2px;
    background: #f2f4f5;
  }

  .admin-sidebar::-webkit-scrollbar-thumb {
    width: 2px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}
