.emptyStateContainer {
  width: 100%;
  height: 8rem;
}

.emptyState {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.emptyState:hover {
  border-color: #134cd8;
  width: 12.93rem;
  height: 7rem;
}

.emptyState:hover > div {
  color: #134cd8;
}

.imageUploaderText {
  max-width: 11.3rem;
}
