.gc_seo_button__close,
.gc_seo_button__maximize,
.gc_seo_button__minimize {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.gc_seo_button__close {
  background: #ff3d44;
}

.gc_seo_button__maximize {
  background: #ffa721;
}

.gc_seo_button__minimize {
  background: #7ed321;
}

.gc_seo__title {
  color: #1a0dab;
}

.gc_seo__url {
  color: #006621;
}

.gc_seo__description {
  color: #545454;
}

.RichEditor_root {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 15px;
}

.RichEditor_editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  height: 10rem;
  padding: 10px;
}

.RichEditor_editor .public-DraftEditorPlaceholder-root,
.RichEditor_editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
  height: 100%;
}

.RichEditor_hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor_editor .RichEditor_blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor_editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}
