:global([aria-label='widget-modal'] .vtex-styleguide-9-x-scrollBar) {
  position: relative;
  padding: 0 !important;
}

:global([aria-label='widget-modal'] .vtex-modal__modal) {
  max-width: 900px !important;
}

.iconCloseWrapper {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
